@import 'tailwindcss';

@theme {
  --color-dark-50: #f8fafc;
  --color-dark-100: #f1f5f9;
  --color-dark-200: #e2e8f0;
  --color-dark-300: #94a3b8;
  --color-dark-400: #64748b;
  --color-dark-500: #475569;
  --color-dark-600: #1f2937;
  --color-dark-700: #0f172a;
  --color-dark-800: #080c10;
  --color-dark-900: #0d1117;
  --color-dark-950: #09090f;

  --color-brand-50: #e0f0ff;
  --color-brand-100: #b3d6f7;
  --color-brand-200: #85bcee;
  --color-brand-300: #57a2e5;
  --color-brand-400: #2988dc;
  --color-brand-500: #1a7fd4;
  --color-brand-600: #1468b0;
  --color-brand-700: #014f86;
  --color-brand-800: #013a63;
  --color-brand-900: #012640;
  --color-brand-950: #010f1a;

  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;
  --color-success-950: #022c22;

  --color-gold-50: #fffbeb;
  --color-gold-100: #fef3c7;
  --color-gold-200: #fde68a;
  --color-gold-300: #fcd34d;
  --color-gold-400: #ffba08;
  --color-gold-500: #f59e0b;
  --color-gold-600: #d97706;
  --color-gold-700: #b45309;
  --color-gold-800: #92400e;
  --color-gold-900: #78350f;
  --color-gold-950: #451a03;
}

body {
  background-color: var(--color-dark-900);
}

.bg-striped {
  /* background-color: var(--color-dark-900); */
  background-image: linear-gradient(to right, rgba(26, 127, 212, 0.08) 1px, transparent 1px);
  background-size: 20px 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 22s linear infinite;
}
